:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 3rem 5rem;
  padding: 0;
}

#cityInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: lightgray;
}

#searchBar {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

div {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 1rem 1rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  flex: 1 1 18rem;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-transform: capitalize;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #444;
}

p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #666;
}
