:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100%;
  background-color: #1B1725;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;  /* Variable font-weight from 100 to 900 */
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;  /* Variable font-weight from 100 to 900 */
  font-style: italic;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 5vh 6vw;
  padding: 0;
}

#map{
  height: 15rem;
  width: 100%;
  border-radius: 10px;
  margin: .5rem;
}

.chart-container {
  width: 100%;
}

#bar-chart {
  width: 100%;
  margin: .5rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .2);;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#cityInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  justify-content: center;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /* Adds the frosted glass effect */
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255, .6);
  font-size: 1.2rem;
  z-index: 1;
}

#searchBar {
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  caret-color: #fff;
  transition: background 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#searchBar:focus {
  background: rgba(255, 255, 255, 0.4);
}

#searchBar::placeholder {
  color: rgb(208, 208, 208);
}

#city {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 1rem 1rem 1rem;
  border-radius: 8px;
  flex: 1 1 25rem;
  box-sizing: border-box;
}

.city-card {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 1rem 1rem 1rem;
  border-radius: 8px;
  flex: 1 1 25rem;
  box-sizing: border-box;

}

.city-info-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.5rem 1rem 0.5rem 1rem;
}

a{
  text-decoration: none;
}

h1{
  color: white;
  /* font-weight: 300; */
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
  text-transform: capitalize;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem;
  color: #444;
  width: 100%;
}

p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #666;
}

.info-card {
  display: flex;
  flex: 1 1 6rem;
  flex-direction: column;
  align-items: center;
  align-content: stretch; 
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1rem 1rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: .5rem;
}

.emoji {
  height: 100%;
  font-size: 2rem;
}

.info-text {
  height: 100%;
  font-size: .8rem;
  margin-top: 0.5rem;
}

.info-value {
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.2rem;
}

.comparison {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.comparison-line {
  height: 6px;
  border-radius: 5px;
  margin: .1rem 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}